@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-font: "Inter", sans-serif;
  --primary-color: #db4444;
  --black-color: #000000;
  --dark-color: #363738;
  --dark-1-color: #7d8184;
  --white-color: #fff;
  --white-2-color: #f5f5f5;
  --hover-primary: #e07575;
  --green-color: #00ff66;
}

* {
  /* outline: 1px solid green; */
}

html {
  font-size: 10px;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Top Navbar */
.top-nav {
  background: var(--black-color);
  width: 100%;
  height: 4.8rem;
}

.top-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav-wrapper {
  display: flex;
  font-size: 1.4rem;
  color: #ccc;
}

.top-nav-p {
  font-weight: 400;
}

.top-nav-link {
  margin-left: 1.5rem;
  font-weight: 600;
  color: var(--white-color);
}

/* Navbar */
.nav {
  width: 100%;
  height: 9.5rem;
  border-bottom: 1px solid #ccc;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 4.8rem;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav-logo {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--black-color);
}

.nav-link {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--black-color);
}

.nav-form {
  display: flex;
  align-items: center;
  background: var(--white-2-color);
  border-radius: 0.4rem;
  padding: 0.8rem;
}

.nav-input {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.nav-search {
  cursor: pointer;
}

.nav-heart,
.nav-cart {
  cursor: pointer;
}

/* Header */
.header {
  width: 100%;
  height: 38.5rem;
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  width: 20%;
  border-right: 1px solid #ccc;
}

.header-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
}

.header-item {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--black-color);
}

.header-img {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 4rem;
  padding-left: 4rem;
}

.header-img img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* Flash Sale */
.section-fs {
  margin-top: 14rem;
  width: 100%;
  height: 67rem;
}

.fs-container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
}

.fs-header {
  width: 100%;
  height: 4rem;
  margin-bottom: 3.5rem;
}

.fs-header-rectangle-p {
  height: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: start;
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: var(--primary-color);
  border-left: 2rem solid var(--primary-color);
  border-radius: 0.4rem;
}

.fs-body {
  display: flex;
  gap: 20.8rem;
  align-items: center;
  margin-bottom: 3rem;
}

.fs-body-title {
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--black-color);
}

.fs-body-countdown {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--black-color);
}

/* Countdown */
.timer {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Align labels and values vertically */
  align-items: center;
}

.time-label {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
}

.time-values {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.time-label span,
.time-values span {
  font-size: 1rem;
  margin: 0 10px;
}

.time-values span {
  font-size: 2rem;
}

/* swiper */
.swiper {
  width: 100%;
  height: 35rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  margin-bottom: 4rem;
  cursor: pointer;
}

.card-header {
  width: 100%;
  height: 100%;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.5rem;
  height: 2.6rem;
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 0.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 1rem 0 0;
}

.card-heart {
  border-radius: 50%;
  background-color: var(--white-color);
  padding: 1rem;
}

.card-eye {
  border-radius: 50%;
  background-color: var(--white-color);
  padding: 1rem;
}

.card-body {
  margin-top: 1rem;
  text-align: left;
}

.card-title {
  font-weight: 500;
  font-size: 1.6rem;
}

.card-price {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-top: 0.5rem;
}

.card-ratings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-rating-number {
  font-weight: 600;
  font-size: 1.4rem;
  color: #ccc;
}

/* Flash Sale Button */

.fs-btn {
  width: 100%;
  text-align: center;
  margin-top: 8rem;
}

.fs-btn-a {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.6rem 4.8rem;
  border-radius: 0.4rem;
  background: var(--primary-color);
  color: var(--white-color);
}

.fs-btn-a:hover {
  background: var(--hover-primary);
  transition: 0.5s;
}

/* Categories */
.section-ctg {
  width: 100%;
  /* height: 37rem; */
  margin-top: 9.2rem;
}

.ctg-container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5.8rem;
}

.ctg-header {
  width: 100%;
  height: 4rem;
  margin-bottom: 3.5rem;
}

.ctg-header-rectangle-p {
  height: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: start;
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: var(--primary-color);
  border-left: 2rem solid var(--primary-color);
  border-radius: 0.4rem;
}

.ctg-body {
  margin-bottom: 3rem;
}

.ctg-body-title {
  font-weight: 600;
  font-size: 3.6rem;
  margin-bottom: 6rem;
}

.ctg-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 2rem;
}

.ctg-footer-items {
  text-align: center;
  padding: 3.175rem 0;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  cursor: pointer;
}

.ctg-footer-items:hover {
  background: var(--primary-color);
  transition: 0.5s;
  color: var(--white-color);
}

/* This Month */
.section-tm {
  width: 100%;
  margin-top: 7rem;
}

.tm-container {
  width: 100%;
  /* height: 100%; */
}

.tm-header {
  width: 100%;
  height: 4rem;
  margin-bottom: 3.5rem;
}

.tm-header-rectangle-p {
  height: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: start;
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: var(--primary-color);
  border-left: 2rem solid var(--primary-color);
  border-radius: 0.4rem;
}

.tm-body {
  margin-bottom: 3rem;
}

.tm-body-title {
  font-weight: 600;
  font-size: 3.6rem;
  margin-bottom: 6rem;
}

.tm-footer {
  width: 100%;
  padding: 9rem 6rem;
  background: var(--black-color);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 2.7rem;
  align-items: center;
  margin-top: 14rem;
}

.tm-footer-content {
  cursor: pointer;
}

.tm-footer-header {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--green-color);
  margin-bottom: 3.2rem;
}

.tm-footer-body {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  color: var(--white-color);
  margin-bottom: 3.2rem;
}

.tm-footer-btn {
  font-weight: 500;
  font-size: 1.6rem;
  display: inline-block;
  color: var(--white-color);
  background: var(--green-color);
  border-radius: 0.4rem;
  padding: 1.6rem 4.8rem;
  transition: 0.5s;
}

.tm-footer-btn:hover {
  background: var(--hover-primary);
}

.tm-footer-img {
  width: 100%;
  height: 100%;
}

.tm-footer-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-op {
  width: 100%;
  margin-top: 7rem;
}

.op-container {
  width: 100%;
}

.op-header {
  width: 100%;
  height: 4rem;
  margin-bottom: 3.5rem;
}

.op-header-rectangle-p {
  height: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: start;
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: var(--primary-color);
  border-left: 2rem solid var(--primary-color);
  border-radius: 0.4rem;
}

.op-body {
  margin-bottom: 3rem;
}

.op-body-title {
  font-weight: 600;
  font-size: 3.6rem;
  margin-bottom: 6rem;
}

.op-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 7rem 3rem;
  margin-bottom: 13rem;
}

/* Feature */
.section-fte {
  width: 100%;
  margin-bottom: 7rem;
  margin-top: 16.8rem;
}

.fte-container {
  width: 100%;
}

.fte-header {
  width: 100%;
  height: 4rem;
  margin-bottom: 3.5rem;
}

.fte-header-rectangle-p {
  height: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: start;
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: var(--primary-color);
  border-left: 2rem solid var(--primary-color);
  border-radius: 0.4rem;
}

.fte-body {
  margin-bottom: 3rem;
}

.fte-body-title {
  font-weight: 600;
  font-size: 3.6rem;
  margin-bottom: 6rem;
}

.fte-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}

.fte-gallery {
  width: 100%;
  position: relative;
}

.fte-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fte-content-1 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: var(--white-color);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 70%;
  color: var(--white-color);
  z-index: 9;
}

.fte-content-title {
  font-weight: 600;
  font-size: 2.4rem;
}

.fte-content-p {
  font-weight: 400;
  font-size: 1.4rem;
}

.fte-content-link {
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: underline;
}

.fte-gallery-1 {
  grid-area: 1/1/13/7;
}

.fte-gallery-2 {
  grid-area: 1/7/7/13;
}

.fte-gallery-3 {
  grid-area: 7/7/13/10;
}

.fte-gallery-4 {
  grid-area: 7/10/13/13;
}

.fte-services-container {
  max-width: 94rem;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  display: grid;
  gap: 2rem 5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin-top: 14rem;
}

.fte-services-items {
  text-align: center;
  width: 100%;
}

.fte-services-title {
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem 0;
}

.fte-services-p {
  font-weight: 400;
  font-size: 1.4rem;
}
