@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-font: "Inter", sans-serif;
  --primary-color: #db4444;
  --black-color: #000000;
  --dark-color: #363738;
  --dark-1-color: #7d8184;
  --white-color: #fff;
  --white-2-color: #f5f5f5;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Top Navbar */
.top-nav {
  background: var(--black-color);
  width: 100%;
  height: 4.8rem;
}

.top-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav-wrapper {
  display: flex;
  font-size: 1.4rem;
  color: #ccc;
}

.top-nav-p {
  font-weight: 400;
}

.top-nav-link {
  margin-left: 1.5rem;
  font-weight: 600;
  color: var(--white-color);
}

/* Navbar */
.nav {
  width: 100%;
  height: 9.5rem;
  border-bottom: 1px solid #ccc;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 4.8rem;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav-logo {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--black-color);
}

.nav-link {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--black-color);
}

.nav-form {
  display: flex;
  align-items: center;
  background: var(--white-2-color);
  border-radius: 0.4rem;
  padding: 0.8rem;
}

.nav-input {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.nav-search {
  cursor: pointer;
}

.nav-heart,
.nav-cart {
  cursor: pointer;
}

/* Header */
.header {
  width: 100%;
  height: 38.5rem;
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  width: 20%;
  border-right: 1px solid #ccc;
}

.header-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
}

.header-item {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--black-color);
}

.header-img {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 4rem;
  padding-left: 4rem;
}

.header-img img {
  object-fit: contain;
  height: 100%;
}

/* Flash Sale */
.section {
  margin-top: 14rem;
  width: 100%;
  height: 67rem;
  /* outline: 3px solid red; */
}

.fs-container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
  outline: 1px solid blue;
}

.fs-header {
  width: 10rem;
  height: 4rem;
  margin-bottom: 3.5rem;
  outline: 1px solid blue;
}

.fs-header-rectangle-p {
  height: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: end;
  padding-top: 1rem;
  color: var(--primary-color);
  border-left: 2rem solid var(--primary-color);
  border-radius: 0.4rem;
}

.fs-body {
  display: flex;
  gap: 20.8rem;
  align-items: center;
  margin-bottom: 3rem;
}

.fs-body-title {
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--black-color);
}

.fs-body-countdown {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--black-color);
}

/* swiper */
.swiper {
  width: 100%;
  height: 35rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
}

.card-header {
  width: 100%;
  height: 100%;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.5rem;
  height: 2.6rem;
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 0.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 1rem 0 0;
}

.card-heart {
  border-radius: 50%;
  background-color: var(--white-color);
  padding: 1rem;
}

.card-eye {
  border-radius: 50%;
  background-color: var(--white-color);
  padding: 1rem;
}

.card-body {
  margin-top: 1rem;
}

.card-price {
}
